
<div class="container mt-4">

	<div class="card col-8">
	  <div class="card-body">
	    <h5 class="m-4"> <%= fa_icon 'user solid' %> <%= @user.name %> </h5>
		<h5 class="m-4"> <%= fa_icon 'envelope' %> <%= @user.email %> </h5>
		<h5 class="m-4"> <%= fa_icon 'phone' %> <%= @user.phonenumber %> </h5>

		<%= link_to "Update your profile", edit_user_path(@user), class: 'btn main-text-color main-bg ml-4 btn-main-bg'   %>
	  </div>
	</div>
</div>
