
<div class="container mt-4">

	<div class="card col-8">
	  <div class="card-body">
	    <h5 class="m-4"> <%= fa_icon 'user solid' %> <%= @user.name %> </h5>
		<h5 class="m-4"> <%= fa_icon 'envelope' %> <%= @user.email %> </h5>
		<h5 class="m-4"> <%= fa_icon 'phone' %> <%= @user.phonenumber %> </h5>

		<%= link_to "Update your profile", edit_user_path(@user), class: 'btn btn-primary ml-4'  %>

		<%#<% if !@user_hotels.blank? %>
		<%#You own <%= @user_hotels.count  hotels %>
		<%#<% else %>
		<%#You don't own any hotels %>
		<%#<% end %>
	  </div>
	</div>
</div>
