<h3 class="text-center mt-8"> Enter your otp & new password </h3>

<div class="row justify-content-center mt-8">
	<div class="col-10">
		<%= form_with(scope: :reset, url: url_for(controller: 'reset', action: 'update_password', id: params[:id]), local: true, data: { turbo: false }) do |f| %>
			<div class="form-group row">
	            <%#<%= f.label :reset_pin, class: "col-2 col-form-label text-light" %>
	            <div class="col-10">
	               <%= f.number_field :reset_pin,class: "form-control shadow rounded", placeholder: 'Enter otp pin sent to email' %> 
	            </div>
	         </div>
	         <div class="form-group row">
	            <%#<%= f.label :password, class: "col-2 col-form-label text-light" %>
	            <div class="col-10">
	               <%= f.password_field :password,class: "form-control shadow rounded", placeholder: "Enter new password" %> 
	            </div>
	         </div>
	         <br>
	         <div class="form-group row justify-content-center">
	            <%= f.submit "Change password", class: "btn btn-outline-dark btn-lg col-2" %>
	         </div>
		<% end %>
	</div>
</div>
