<h4 class="mt-3"> Booking history for <b> <%= @hotel.name %> </b> </h4>

<% if @bookings.length == 0 %>
	<p class="mt-4 text-secondary"> <b> No booking history </b> </p> 
<% end %>

<% @bookings.each do |booking| %>
	<div class="card col-8 mt-2">
		<div class="card-body">
			<b> Booking ID: </b> <%= booking.id %>
			<br>
			<b> From: </b> <%= booking.from_date %>
			<b> To: </b> <%= booking.to_date %>
			<br>
			<b> Total cost: </b> <%= booking.total_cost %>
		</div>
	</div>
<% end %>