
<h4 class="mt-3 text-center"> Booking history for <b class="second-text-color"> <%= @hotel.name %> </b> </h4>

<% if @bookings.length == 0 %>
	<p class="mt-4 text-secondary"> <b> No booking history </b> </p> 
<% end %>
<div class="row justify-content-center">
<% @bookings.each do |booking| %>
	<div class="card col-8 mt-2 shadow">
		<div class="card-body">
			<div class="mt-1">
				<b> Booking ID: </b> <%= booking.id %>
			</div>
			<div class="mt-1">
			 Name:- <b> <%= booking.user.name %> </b>   |  Email: <b> <%= booking.user.email %> </b>
			</div>
			<div class="mt-1">
			<%= fa_icon 'calendar' %>
			From: <b> <%= booking.from_date %> </b>
			To: <b> <%= booking.to_date %> </b>
			</div>
			 Total cost: <b> <%= booking.total_cost %></b>
		</div>
	</div>
<% end %>
</div>