
<div>
	<div class="badge-secondary text-light pt-2 pl-3 pb-2" style="border-radius: 10px;">
		<h2> <%= @hotel.name %></h2>
		<h5> <%= @hotel.address %> </h5>
		<% if current_user.id == @hotel.user_id %>
			<h6> <span class="badge badge-info"> You own this space </span></h6>
		<% end %>
	</div>
	<div class="row">
		<div class="col m-2" style="border-radius: 10px">
			<% if @hotel.image.representable? %>
	    		<%= image_tag(@hotel.image, height: 400, width: 600) %>
	    	<% else %>
	    		<img class="card-img-left" src="..." alt= <%= @hotel.name %>>
	    	<% end %>
		</div>
		<div class="col mt-2" style="height: 400px;">
			<div class="card">
				<div class="card-body">
					<%= form_with(model: @booking, local: true, data: { turbo: false }) do |f| %>
						<div class="form-group justify-content-center">
			            <%= f.label :from_date, "From:", class: "col-2 col-form-label text-dark" %>
			            <%= f.text_field :from_date, 
			               data: {
			                 controller: "flatpickr",
			                 flatpickr_min_date: Time.zone.now,
			                 flatpickr_max_date: @hotel.available_to_date,
			                 flatpickr_disable: @hotel.unavailable_dates
			               } %>
			               <br>
			            <%= f.label :to_date, "To: ", class: "col-2 col-form-label text-dark" %>
			           <%= f.text_field :to_date,
			               data: {
			                 controller: "flatpickr",
			                 flatpickr_min_date: Time.zone.now,
			                 flatpickr_max_date: @hotel.available_to_date,
			                 flatpickr_disable: @hotel.unavailable_dates
			               } %>
			         	</div>
			         	<%#<%= Time.zone.now %>
			         	<%#<%= @hotel.available_from_date %>
			         	<%#<%= @hotel.unavailable_dates %>
			         	<%= f.hidden_field 'hotel_id', :value => @hotel.id %>
      					<%= f.hidden_field 'user_id', :value => current_user.id %>
			         	<p> <b> <%= f.label "Cost per day:-", class: "col-form-label text-dark" %> 
			         		<%= f.label @hotel.price_per_room, class: "col-form-label text-dark" %> </b>
			         	</p>
			         	<div class="form-group row justify-content-center">
		            		<%= f.submit "Book Now", class: "btn btn-outline-dark btn-lg col-3" %>
		         		</div>
		         	<% end %>
		         </div>
	         </div>
		</div>
	</div>
	<div class="bg-white pt-2 pl-2">
		<h4> <b> Description </b></h4>
		<p> <%= @hotel.description %> </p>
	</div>
	<div class="bg-white pt-2 pl-2">
		<h4> <b> Amenities </b></h4>
		<% if @hotel.ac %>
			<%= fa_icon "ac" %>
    		<span class="badge badge-secondary">AC</span>
    	<% end %>
    	<% if @hotel.wifi %>
    		<%= fa_icon "wifi" %>
    		<span class="badge badge-secondary">WIFI</span>
    	<% end %>
    	<% if @hotel.parking %>
    		<%= fa_icon "parking" %>
    		<span class="badge badge-secondary">Parking</span>
    	<% end %>
	</div>
	<hr>
	<div class="hotel-reviews pt-2 pl-2 col-8">
		<% if @hotel.user_id != current_user.id %>
			<%= render 'comments_form' %>
		<% end %>
		<% if @reviews.count > 0 %>
			<p> Rating:- <h5> <b> <%= @rating_avg.round(1) %> <%= fa_icon "star" %></b> (<%= @reviews.count %>)</p> </h5>
			Comments:-
			<% @reviews.each do |review| %>
				<div class="card mb-2">
					<div class="card-body">
						 <% if !review.comment.strip.empty? %>
						 	<b> <%= review.comment %> </b>
						 	<span class="float-right text-dark"> (<%= review.rating %> <%= fa_icon "star" %>)</span>
						 <% end %>
						 <div class="text-secondary">
							<h7> By <%= review.user.name %> </h7>
						</div>
						<% if current_user.id == review.user_id %>
						 	<%= link_to "Delete", review_path(review), method: :delete %>
						 <% end %>
			 		</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<div>
		<% if @hotel.user_id == current_user.id %>
		<%= link_to "Delete this space", hotel_path(@hotel), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :delete %>
		<% end %>
	</div>
</div>