<nav class="navbar navbar-expand-lg navbar-bg-color">
  <%= link_to "BookYourRoom", root_path, class: 'navbar-brand main-text-color' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to "Search Spaces", hotels_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Owned spaces", {controller: "users", action: "show_hotels", id: current_user.id}, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My bookings", {controller: "users", action: "show_bookings", id: current_user.id}, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup", signup_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
       <li class="nav-item dropdown mr-2 bg-white rounded">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Show profile", user_path(current_user), class: 'dropdown-item' %>
              <%= link_to "Edit profile", edit_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to "My bookings", {controller: "users", action: "show_bookings", id: current_user.id}, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
                <%= link_to "Logout", logout_path,class: 'dropdown-item', method: :delete %>
            </div>
        </li>
      <% end %>
    </ul>
    <%# 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>
  </div>
</nav>